html {
      background: #FFFFFF; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    body {
      height: 100%;
      
    }



    	/*Non-responsive CSS! Don't touch!*/

		    /* Reset the container */
		.container {
		  max-width: none !important;
		  width: 1400px;
		}



		/* Always float the navbar header */
		.navbar-header {
		  float: left;
		}

		/* Undo the collapsing navbar */
		.navbar-collapse {
		  display: block !important;
		  height: auto !important;
		  padding-bottom: 0;
		  overflow: visible !important;
		}

		.navbar-toggle {
		  display: none;
		}

		.navbar-brand {
		  margin-left: -15px;
		}

		/* Always apply the floated nav */
		.navbar-nav {
		  float: left;
		  margin: 0;
		}
		.navbar-nav > li {
		  float: left;
		}
		.navbar-nav > li > a {
		  padding: 15px;
		}

		/* Redeclare since we override the float above */
		.navbar-nav.navbar-right {
		  float: right;
		}

      /*Custom styles*/

      #structure {
        min-height: 100%;
        height: auto;
        /* Negative indent footer by its height */
        margin: 0 auto -60px;
        /* Pad bottom by footer height */
        padding: 50px 0 60px;
      }

      .title-box {
        
        font-size: 30px;
        padding-left: 15px;
        padding-top:15px;
        padding-bottom:15px;
        padding-right:15px;
        margin-bottom: 15px;
        border: 1px solid transparent;
        border-radius: 0;
        color: #ffffff;
        background-color: #000000;
        border-color: #000000;
      }

      .header-box {
        
        font-size: 20px;
        padding-left: 15px;
        padding-top:10px;
        padding-bottom:10px;
        padding-right:15px;
        margin-bottom: 3px;
        border: 1px solid transparent;
        border-radius: 0;
        color: #ffffff;
        background-color: #007fff;
        border-color: #007fff;
      }

      .major-content {
        /*height: 200px ;*/
        padding: 15px;
        margin-bottom: 15px;
        border-style:solid;
        border-width:1px;
        border-color:#CCCCCC;
        color: #000000;
        background-color: #ffffff;
        overflow: auto;
      }

      .connectedfriends-list {
        /*height: 200px ;*/
        height: 100px;
        padding: 15px;
        margin-bottom: 5px;
        border-style:solid;
        border-width:1px;
        border-color:#CCCCCC;
        color: #000000;
        background-color: #ffffff;
        overflow: auto;
      }

      .entry {
        font-size: 15px;
        padding: 15px;
        margin-bottom: 5px;
        border-style:solid;
        border-width:1px;
        color: #000000;
        background-color: #E8E8E8;
        border-color: #E8E8E8;
      }

      .input-content {
        /*height: 200px ;*/
        padding: 15px;
        margin-bottom: 3px;
        border-style:solid;
        border-width:1px;
        border-color:#CCCCCC;
        color: #000000;
        background-color: #ffffff;
        overflow: auto;
      }

      .search_results{
        
        font-size: 15px;
        padding: 10px;
        margin-bottom: 2px;
        border: 1px solid transparent;
        border-radius: 0;
        color: #000000;
        background-color: #E8E8E8;
        border-color: #E8E8E8;
      }

      .stats {
      	font-size: 23px;
      	font-weight:bold;
      }


      /* Set the fixed height of the footer here */
      #footer {
        /*position: absolute;*/
        /*top: 100px;
        bottom: 0px;*/
        height: 60px;
        background-color: #f5f5f5;
      }

      #footer > .container {
        /*padding-top:20px;*/
        padding-left: 15px;
        padding-right: 15px;
      }

      .container .credit {
        margin: 20px 0;
      }
      

	  .has-error  {
		border-color: #FF0000;
	  }